// 
// Footer
// 

footer.footer {
    background: url("../assets/img/footer.png") left top no-repeat;
    background-position: bottom right;
    bottom: 0;
    right: 0;
    width: 90%;

    @media (min-width: 768px) {
        width: 500px;
    }
    @media (min-width: 1080px) {
        width: 550px;
    }
}
