// 
// Footer
// 

header.header {
    background: url("../assets/img/header.png") left top no-repeat;
    background-position: top left;
    top: 0;
    left: 0;
    width: 75%;

    @media (min-width: 768px) {
        width: 500px;
    }
    @media (min-width: 1080px) {
        width: 550px;
    }
}
