// 
// Footer
// 

header.header {
    background: url("../assets/img/header.png") left top no-repeat;
    background-position: top left;
    width: 75%;

    @media (min-width: 768px) {
        width: 500px;
    }
    @media (min-width: 1080px) {
        width: 550px;
    }
}

.dropstart {
    z-index: 1000;
    .dropdown-toggle::before {
        display: none;
    }
    button {
        top: 16px;
        right: 16px;

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }
}
