//
// Masthead
//

#header-text {
    margin-top: 20%;
    margin-right: 8%;
    margin-left: 8%;

    @media (min-width: 768px) {
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

header.masthead {
    position: relative;
    background: url('../assets/img/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &:before {
        content: '';
        position: absolute;
        background-color: mix($gray-900, $primary, 75%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    @include media-breakpoint-up(md) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}
