// 
// Showcase
// 

.showcase {
    .showcase-img {
        min-height: 15rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #accommodation,
    #getting-there,
    #gifts,
    #timeline {
        @media (max-width: 992px) {
            text-align: center !important;
        }
    }
}
