// 
// Global
// 

body {
    background-color: lightgrey;
}

a {
    position: relative;
    z-index: 100;
}

.caligraphy {
  font-family: 'Sacramento';
}

div.content {
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 6rem;
    padding-top: 3rem;
}

.leaves {
    background-size: contain !important;
    background-color: transparent;
    opacity: 0.8;
    z-index: 10 !important;
    height: 100%;
}
