// 
// Global
// 

body {
    background-color: lightgrey;
}

a {
    position: relative;
    z-index: 100;
    color: mediumslateblue;
}

.caligraphy {
  font-family: 'Sacramento';
}

div.content {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 6rem;
    padding-top: 3rem;

    @include media-breakpoint-up(sm) {
        margin-right: 5.5rem;
        margin-left: 5.5rem;
    }
    @include media-breakpoint-up(md) {
        margin-right: 6rem;
        margin-left: 6rem;
    }
}

.leaves {
    background-size: contain !important;
    background-color: transparent;
    opacity: 0.8;
    z-index: 10 !important;
    height: 100%;
}

.target {
    scroll-margin-top: 8rem;

    @include media-breakpoint-up(sm) {
        scroll-margin-top: 10rem;
    }
    @include media-breakpoint-up(lg) {
        scroll-margin-top: 12rem;
    }
}

.map {
    height: 400px !important;
    position: relative;
    z-index: 100;
}
